/* Globales */
:root{
	/*--primary-color:#2b3035;*/
	--background-colour:white;
	--primary-color:rgb(201, 200, 200);
	--header-background-colour:#2b3035;
	--dark-color:#151515;
	--text-primary-color:white;
	--text-secondary-color:rgba(255, 255, 255, 0.5);
	text-align: center;
  }

html{
	font-size: 62.5%;
}

*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}

header .container{
	max-width: 120rem;
	margin: 0 auto;
  }
  
  .heading-1{
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
	margin: 45px;
  }
  
  /*Header*/
  .container-hero{
	background-color: var(--header-background-colour);
  }
  
  .hero{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
  }
  
  .container-logo{
	display: flex;
	align-items: center;
	gap: .5rem;
	justify-content: center;
  }
  
  .container-logo h1 a{
	text-decoration: none;
	color: var(--text-primary-color);
  }
  
  .container-logo i{
	font-size: 4rem;
  }
  
  .container-navbar{
	display: flex;
	align-items: center;
  }
  
  .container-user{
	display: flex;
	gap: 1rem;
	cursor: pointer;
  }
  
  .container-user .fa-user{
	font-size: 2.5rem;
	color: var(--text-secondary-color);
	padding-right: 1.5rem;
	border-right: 1px solid white;
  }
  
  .container-user .fa-cart-shopping{
	font-size: 2.5rem;
	color: var(--text-secondary-color);
  }
  
  .content-shopping-cart{
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	color: var(--text-primary-color);
  }
  
  .menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
  }
  
  .menu li{
   padding: 2rem;
   list-style: none;
   color: white;
   font-weight: 600;
  }
  
  .menu a{
	position: relative;
  }
  
  .menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: white;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all .3s ease;
  }
  
  .menu a:hover::after{
	opacity: 1;
  }
  
  .menu a:hover{
	color: white;
  }
  
  .search-form{
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid white;
	border-radius: 2rem;
	background-color: white;
	height: 3.8rem;
	overflow: hidden;
  }
  
  .search-form input{
	outline: none;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	cursor: pointer;
  }
  
  .search-form input::-webkit-search-cancel-button{
	appearance: none;
  }
  
  .search-form .btn-search{
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
  }
  
  .btn-search i{
	color: white;
	font-size: 100rem;
  }
  
  /*Carrito*/
  .cart{
	position: fixed;
	top: 0;
	right: 0;
	right: -100%;
	width: 360px;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px;
	background-color: white;
	box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
	border: 1px solid;
	transition: 1.7s;
	z-index: 1;
  
  }

  .container-cart-icon{
	padding-left: 20px;
  }
  
  .cart.active{
	right: 0;
	transition: .5s;
  }
  
  .cart-title{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 2rem;
  }
  
  .cart-box{
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
  
  }
  
  /*Main Content*/
  .main-content{
	background-color: var(--background-colour);
  }
  
  /*products*/
  .availability{
	display: flex;
	justify-content: left;
  }
  
  .active{
	color: var(--header-background-colour);
	background-color: white;
	padding: .3rem 1rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: .5rem;
  }
  
  .inactive{
	cursor: not-allowed;
	color:white;
	background-color: grey;
	border: 1rem;
	border-color:black ;
	padding: .3rem 2rem;
	font-size: 1.4rem;
	border-radius: .5rem;
	cursor: not-allowed;
  }
  
  
  a{
	text-decoration: none;
  }
  
  .content-card-product i{
	font-size: 1.5rem;
  }
  
  img {
	border: 5px;
  }
  
  .logo img{
	height: 5.5em;
  }
  
  .card {
	display: inline flow-root list-item;
	margin: 60px;
	padding: 0px;
	border: 1px solid #666;
	border-radius: 10px;
	transition: .3s;
	list-style-type: none;
  }
  
  .card:hover {
	box-shadow: 0 0 10px #666;
	scale: 1.05;
  }
  
  .carousel-item {
	padding: 0px;
  }